<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>PingPong</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container well">
      <h1>Enter a Number Range < 99</h1>
      <div class="row">
        <form class="form" action="/" method="post">
          <input type="number" name="range" placeholder="Enter a range">
          <button type="submit" class="btn btn-info" name="button">GO!</button>
        </form>
      </div>
      <div class="row">
        @if(@Model.Count != 0)
        {
          <h2>@Model.ToString()</h2>
        }
      </div>

    </div>
  </body>
</html>
